body{
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 10px;
}

h1 {
  margin: 30px 0 50px 0;
  font-size: 45px;
  line-height: 40px;
}
img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.row1, .row2 {
  /*
  Флекс-контейнер
  */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

}

.project-image {
  /*
  Картинка проекта
  70% при 600+ ширине
  100% при 600− ширине
  */
  box-sizing: border-box;
  flex-basis: 100%;
  flex-grow: 0;
}
.project-caption {
  /*
  Описание проекта
  30% при 600+ ширине
  100% при 600− ширине
  */
  box-sizing: border-box;
  flex-basis: 100%;
  flex-grow: 0;
}


@media screen and (min-width:500px) {
  body {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
  }

  .row1, .row2 {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }

  .project-image {
    padding: 0 2% 0 0;
    flex-basis: 0;
    flex-grow: 7;
    box-sizing: border-box;
  }
  .project-caption {
    padding: 0 2% 0 0;
    flex-basis: 0;
    flex-grow: 3;
    box-sizing: border-box;
  }

  .row2 .project-image {order: 2;}
  .row2 .project-caption {order: 1;}  
}



